Contracts/CreditoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://service.soaexpert.com.br/CreditoService/service/v1.0" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="CreditoService" 
	targetNamespace="http://service.soaexpert.com.br/CreditoService/service/v1.0">
	
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.soaexpert.com.br/CreditoService/service/v1.0" xmlns:domainV1="http://soaexpert.com.br/domain/model/v1.0">
		
    	<xsd:import schemaLocation="../Schemas/DomainModel.xsd" namespace="http://soaexpert.com.br/domain/model/v1.0"/>
    	
    	<xsd:element name="verificaCreditoSerasa">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="empresa" type="domainV1:Empresa" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="verificaCreditoSerasaResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="credito" type="domainV1:Credito" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	
		<xsd:element name="verificaCreditoSPC">
			<xsd:complexType>
				<xsd:sequence>					<xsd:element name="empresa" type="domainV1:Empresa"></xsd:element>				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
    	<xsd:element name="verificaCreditoSPCResponse">
    		<xsd:complexType>
    			<xsd:sequence>                    <xsd:element name="credito" type="domainV1:Credito"></xsd:element>                </xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	
		<xsd:element name="verificaCasasBahia">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="empresa" type="domainV1:Empresa"></xsd:element>				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="verificaCasasBahiaResponse">
			<xsd:complexType>
				<xsd:sequence>                    <xsd:element name="credito" type="domainV1:Credito"></xsd:element>                </xsd:sequence>
			</xsd:complexType>
		</xsd:element>

    </xsd:schema>
  </wsdl:types>
  
  
  
  
  <wsdl:message name="verificaCreditoSerasaRequest">
    <wsdl:part element="tns:verificaCreditoSerasa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="verificaCreditoSerasaResponse">
    <wsdl:part element="tns:verificaCreditoSerasaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="verificaCreditoSPCRequest">
  	<wsdl:part name="parameters" element="tns:verificaCreditoSPC"/>
  </wsdl:message>
  <wsdl:message name="verificaCreditoSPCResponse">
  	<wsdl:part name="parameters" element="tns:verificaCreditoSPCResponse"/>
  </wsdl:message>
  <wsdl:message name="verificaCasasBahiaRequest">
  	<wsdl:part name="parameters" element="tns:verificaCasasBahia"/>
  </wsdl:message>
  <wsdl:message name="verificaCasasBahiaResponse">
  	<wsdl:part name="parameters" element="tns:verificaCasasBahiaResponse"/>
  </wsdl:message>




  <wsdl:portType name="CreditoService">
  
    <wsdl:operation name="verificaCreditoSerasa">
      <wsdl:input message="tns:verificaCreditoSerasaRequest"/>
      <wsdl:output message="tns:verificaCreditoSerasaResponse"/>
    </wsdl:operation>

    <wsdl:operation name="verificaCreditoSPC">
    	<wsdl:input message="tns:verificaCreditoSPCRequest"/>
    	<wsdl:output message="tns:verificaCreditoSPCResponse"/>
    </wsdl:operation>

    <wsdl:operation name="verificaCasasBahia">
    	<wsdl:input message="tns:verificaCasasBahiaRequest"/>
    	<wsdl:output message="tns:verificaCasasBahiaResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  
  
  
  
  <wsdl:binding name="CreditoServiceSOAP" type="tns:CreditoService">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  	
  	<wsdl:operation name="verificaCreditoSerasa">
  		<soap:operation	soapAction="http://service.soaexpert.com.br/CreditoService/service/v1.0/verificaCreditoSerasa" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="verificaCreditoSPC">
  		<soap:operation	soapAction="http://service.soaexpert.com.br/CreditoService/service/v1.0/verificaCreditoSPC" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	
  	<wsdl:operation name="verificaCasasBahia">
  		<soap:operation	soapAction="http://service.soaexpert.com.br/CreditoService/service/v1.0/verificaCasasBahia" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
  	</wsdl:operation>
  	
  </wsdl:binding>




  <wsdl:service name="CreditoService">
    <wsdl:port binding="tns:CreditoServiceSOAP" name="CreditoServiceSOAP">
      <soap:address location="http://localhost:7001/SOALifeCyle/CreditoService"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
